page-ingresar {

}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url('../../assets/imgs/logoUbica2.PNG');          
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 160px; height: 140px;
}
